/* components/more-songs-item/more-songs-item.wxss */
.wrap {
  margin-bottom: 20rpx;

  .img {
    width: 40rpx;
    margin-right: 10rpx;
  }

  .singer {
    font-size: 28rpx;
    color: #666;
  }
}