/**app.wxss**/
@import "./assets/iconfont/iconfont";

page,
view,
text,
swiper,
image {
  box-sizing: border-box;
}

@for $i from 2 through 4 {
  .mt-#{$i * 10} {
    margin-top: 10rpx * $i;
    box-sizing: border-box;
  }
}