/* pages/tabbar-profile/tabbar-profile.wxss */
page {
  padding: 30rpx;
  background-color: #f3f3f3;
}

.section {
  padding: 20rpx;
  margin-bottom: 20rpx;
  background-color: #fff;
  border-radius: 10rpx;
}

.user-info {
  display: flex;
  align-items: center;

  .avatar-wrapper {
    width: 90rpx;
    height: 90rpx;
    border-radius: 50%;
    margin: 0;
    padding: 0;

    .avatar {
      width: 100%;
    }
  }

  .nickname {
    margin-left: 20rpx;
    font-size: 28rpx;
  }
}

.btn {
  margin-top: 30rpx;
}

.favor-wrap {
  display: flex;
  justify-content: space-around;
  font-size: 28rpx;

  .txt {
    margin-left: 12rpx;
  }
}