/* pages/tabbar-music/tabbar-music.wxss */
page {
  --search-background-color: #fff;
  --search-padding: 10px 0;

  padding: 0 20rpx;
  background-color: #fbfbfb;
}

.swiper {
  border-radius: 12rpx;
  overflow: hidden;

  .img {
    width: 100%;
  }
}

.pop-playlist {
  margin-left: -20rpx;
  white-space: nowrap;

  .pop-item {
    display: inline-block;
    width: 210rpx;
    margin-left: 20rpx;

    &:last-of-type {
      margin-right: 20rpx;
    }
  }
}