/* pages/tabbar-music/tabbar-music.wxss */
page {
  --search-background-color: #fff;
  --search-padding: 10px 0;

  padding: 0 20rpx;
  background-color: #fbfbfb;
}

.swiper {
  border-radius: 12rpx;
  overflow: hidden;

  .img {
    width: 100%;
  }
}