/* pages/tabbar-music/tabbar-music.wxss */
page {
  --search-background-color: #fff;
  --search-padding: 10px 0;

  padding: 0 20rpx;
  background-color: #fbfbfb;
}

.swiper {
  border-radius: 12rpx;
  overflow: hidden;

  .img {
    width: 100%;
  }
}

.pop-playlist {
  margin-left: -20rpx;
  white-space: nowrap;

  .pop-item {
    display: inline-block;
    width: 210rpx;
    margin-left: 20rpx;

    &:last-of-type {
      margin-right: 20rpx;
    }
  }
}

.play-bar-placeholder {
  height: 120rpx;
}

.play-bar {
  position: fixed;
  height: 100rpx;
  background-color: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20rpx;
  box-shadow: 0 -1px 5px rgba($color: #000000, $alpha: 0.1);

  .left {
    display: flex;
    align-items: center;

    .cover {
      width: 110rpx;
      height: 110rpx;
      border-radius: 55rpx;
      margin-bottom: 40rpx;
      margin-right: 10rpx;
    }
  }

  .right {
    display: flex;
    align-items: center;

    .icon {
      width: 60rpx;
    }
  }
}